{
  "swagger": "2.0",
  "info": {
    "title": "Webitel Cases ReSTfull API",
    "version": "v24.04",
    "contact": {
      "name": "Webitel LLC",
      "url": "https://www.webitel.com",
      "email": "support@webitel.com"
    },
    "license": {
      "name": "MIT"
    }
  },
  "tags": [
    {
      "name": "Appeals"
    },
    {
      "name": "CloseReasons"
    },
    {
      "name": "Reasons"
    },
    {
      "name": "StatusConditions"
    },
    {
      "name": "Statuses"
    },
    {
      "name": "Priorities"
    },
    {
      "name": "SLAs"
    },
    {
      "name": "SLAConditions"
    },
    {
      "name": "Catalogs"
    },
    {
      "name": "Services"
    }
  ],
  "host": "nx.webitel.org",
  "basePath": "/api",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/cases/appeals": {
      "get": {
        "summary": "Retrieve a list of appeals or search appeals",
        "operationId": "Appeals_ListAppeals",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/webitel.cases.AppealList"
            }
          }
        },
        "parameters": [
          {
            "name": "page",
            "description": "Page number of result dataset records. offset = (page*size)",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "size",
            "description": "Size count of records on result page. limit = (size++)",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "fields",
            "description": "Fields to be retrieved as a result.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "sort",
            "description": "Sort the result according to fields.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "id",
            "description": "Filter by unique IDs.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "format": "int64"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "q",
            "description": "Search term: appeal name;\n`?` - matches any one character\n`*` - matches 0 or more characters",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "name",
            "description": "Filter by appeal name.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "type",
            "description": "Filter by appeal type.\n\n - TYPE_UNSPECIFIED: Default value\n - CALL: Call\n - CHAT: Chat\n - SOCIAL_MEDIA: Social Media\n - EMAIL: Email\n - API: API\n - MANUAL: Manual",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "TYPE_UNSPECIFIED",
                "CALL",
                "CHAT",
                "SOCIAL_MEDIA",
                "EMAIL",
                "API",
                "MANUAL"
              ]
            },
            "collectionFormat": "multi"
          }
        ],
        "tags": [
          "Appeals"
        ]
      },
      "post": {
        "summary": "Create a new appeal",
        "operationId": "Appeals_CreateAppeal",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/webitel.cases.Appeal"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "description": "Request message for creating a new appeal.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/webitel.cases.CreateAppealRequest"
            }
          }
        ],
        "tags": [
          "Appeals"
        ]
      }
    },
    "/cases/appeals/{id}": {
      "get": {
        "summary": "Locate an appeal by ID",
        "operationId": "Appeals_LocateAppeal",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/webitel.cases.LocateAppealResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "description": "The unique ID of the appeal to locate.",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "fields",
            "description": "Fields to be retrieved into result.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          }
        ],
        "tags": [
          "Appeals"
        ]
      },
      "delete": {
        "summary": "Delete an appeal",
        "operationId": "Appeals_DeleteAppeal",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/webitel.cases.Appeal"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "description": "The unique ID of the appeal to delete.",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          }
        ],
        "tags": [
          "Appeals"
        ]
      },
      "put": {
        "summary": "Update an existing appeal",
        "operationId": "Appeals_UpdateAppeal",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/webitel.cases.Appeal"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "input",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/webitel.cases.InputAppeal"
            }
          }
        ],
        "tags": [
          "Appeals"
        ]
      },
      "patch": {
        "summary": "Update an existing appeal",
        "operationId": "Appeals_UpdateAppeal2",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/webitel.cases.Appeal"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "input",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/webitel.cases.InputAppeal"
            }
          }
        ],
        "tags": [
          "Appeals"
        ]
      }
    },
    "/cases/catalogs": {
      "get": {
        "summary": "Retrieve a list of catalogs or search catalogs",
        "operationId": "Catalogs_ListCatalogs",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/webitel.cases.CatalogList"
            }
          }
        },
        "parameters": [
          {
            "name": "page",
            "description": "Page number for pagination",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "size",
            "description": "Number of records per page",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "fields",
            "description": "Fields to be retrieved as a result.\nIf the user passes \"-\" as the value for fields,\nit will retrieve all available fields for each catalog.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "sort",
            "description": "Sorting options by fields",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "id",
            "description": "List of IDs to filter the catalogs",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "format": "int64"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "q",
            "description": "Search query string for filtering by name",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "state",
            "description": "Filter by state (true for active, false for inactive)",
            "in": "query",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "depth",
            "description": "Filter by the depth of the hierarchy to retrieve services.\nThe depth indicates how many ancestor levels of services\nwill be included for each catalog.\n- A depth of 0 includes only the direct catalog.\n- A depth of 1 includes the catalog and its immediate services.\n- By default the depth is unlimited,\n  meaning all nested services and sub-services will be included.",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "int64"
          }
        ],
        "tags": [
          "Catalogs"
        ]
      },
      "post": {
        "summary": "Create a new catalog",
        "operationId": "Catalogs_CreateCatalog",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/webitel.cases.Catalog"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/webitel.cases.CreateCatalogRequest"
            }
          }
        ],
        "tags": [
          "Catalogs"
        ]
      }
    },
    "/cases/catalogs/{id}": {
      "get": {
        "summary": "Locate a catalog by ID",
        "operationId": "Catalogs_LocateCatalog",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/webitel.cases.LocateCatalogResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "description": "ID of the catalog to be located",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          }
        ],
        "tags": [
          "Catalogs"
        ]
      },
      "delete": {
        "summary": "Delete a catalog",
        "operationId": "Catalogs_DeleteCatalog",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/webitel.cases.CatalogList"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "description": "ID of the catalog to be deleted",
            "in": "path",
            "required": true,
            "type": "array",
            "items": {
              "type": "string",
              "format": "int64"
            },
            "collectionFormat": "csv",
            "minItems": 1
          }
        ],
        "tags": [
          "Catalogs"
        ]
      },
      "put": {
        "summary": "Update an existing catalog",
        "operationId": "Catalogs_UpdateCatalog",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/webitel.cases.Catalog"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "description": "ID of the catalog to be updated",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "input",
            "description": "Input data for updating the catalog",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/webitel.cases.InputCatalog"
            }
          }
        ],
        "tags": [
          "Catalogs"
        ]
      },
      "patch": {
        "summary": "Update an existing catalog",
        "operationId": "Catalogs_UpdateCatalog2",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/webitel.cases.Catalog"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "description": "ID of the catalog to be updated",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "input",
            "description": "Input data for updating the catalog",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/webitel.cases.InputCatalog"
            }
          }
        ],
        "tags": [
          "Catalogs"
        ]
      }
    },
    "/cases/closeReasons": {
      "get": {
        "summary": "Retrieve a list of close reasons or search close reasons",
        "operationId": "CloseReasons_ListCloseReasons",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/webitel.cases.CloseReasonList"
            }
          }
        },
        "parameters": [
          {
            "name": "page",
            "description": "Page number of result dataset records. offset = (page*size)",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "size",
            "description": "Size count of records on result page. limit = (size++)",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "fields",
            "description": "Fields to be retrieved as a result.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "sort",
            "description": "Sort the result according to fields.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "id",
            "description": "Filter by unique IDs.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "format": "int64"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "q",
            "description": "Search term: close reason name;\n`?` - matches any one character\n`*` - matches 0 or more characters",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "name",
            "description": "Filter by close reason name.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "CloseReasons"
        ]
      },
      "post": {
        "summary": "Create a new close reason",
        "operationId": "CloseReasons_CreateCloseReason",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/webitel.cases.CloseReason"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/webitel.cases.CreateCloseReasonRequest"
            }
          }
        ],
        "tags": [
          "CloseReasons"
        ]
      }
    },
    "/cases/closeReasons/{id}": {
      "get": {
        "summary": "Locate a close reason by ID",
        "operationId": "CloseReasons_LocateCloseReason",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/webitel.cases.LocateCloseReasonResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          }
        ],
        "tags": [
          "CloseReasons"
        ]
      },
      "delete": {
        "summary": "Delete a close reason",
        "operationId": "CloseReasons_DeleteCloseReason",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/webitel.cases.CloseReason"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          }
        ],
        "tags": [
          "CloseReasons"
        ]
      },
      "put": {
        "summary": "Update an existing close reason",
        "operationId": "CloseReasons_UpdateCloseReason",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/webitel.cases.CloseReason"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "input",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/webitel.cases.InputCloseReason"
            }
          }
        ],
        "tags": [
          "CloseReasons"
        ]
      },
      "patch": {
        "summary": "Update an existing close reason",
        "operationId": "CloseReasons_UpdateCloseReason2",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/webitel.cases.CloseReason"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "input",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/webitel.cases.InputCloseReason"
            }
          }
        ],
        "tags": [
          "CloseReasons"
        ]
      }
    },
    "/cases/priorities": {
      "get": {
        "summary": "Retrieve a list of priorities or search priorities",
        "operationId": "Priorities_ListPriorities",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/webitel.cases.PriorityList"
            }
          }
        },
        "parameters": [
          {
            "name": "page",
            "description": "Page number of result dataset records. offset = (page*size)",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "size",
            "description": "Size count of records on result page. limit = (size++)",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "fields",
            "description": "Fields to be retrieved as a result.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "sort",
            "description": "Sort the result according to fields.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "id",
            "description": "Filter by unique IDs.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "format": "int64"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "q",
            "description": "Search term: priority name;\n`?` - matches any one character\n`*` - matches 0 or more characters",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "name",
            "description": "Filter by priority name.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Priorities"
        ]
      },
      "post": {
        "summary": "Create a new priority",
        "operationId": "Priorities_CreatePriority",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/webitel.cases.Priority"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/webitel.cases.CreatePriorityRequest"
            }
          }
        ],
        "tags": [
          "Priorities"
        ]
      }
    },
    "/cases/priorities/{id}": {
      "get": {
        "summary": "Locate a priority by ID",
        "operationId": "Priorities_LocatePriority",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/webitel.cases.LocatePriorityResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          }
        ],
        "tags": [
          "Priorities"
        ]
      },
      "delete": {
        "summary": "Delete a priority",
        "operationId": "Priorities_DeletePriority",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/webitel.cases.Priority"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          }
        ],
        "tags": [
          "Priorities"
        ]
      },
      "put": {
        "summary": "Update an existing priority",
        "operationId": "Priorities_UpdatePriority",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/webitel.cases.Priority"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "input",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/webitel.cases.InputPriority"
            }
          }
        ],
        "tags": [
          "Priorities"
        ]
      },
      "patch": {
        "summary": "Update an existing priority",
        "operationId": "Priorities_UpdatePriority2",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/webitel.cases.Priority"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "input",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/webitel.cases.InputPriority"
            }
          }
        ],
        "tags": [
          "Priorities"
        ]
      }
    },
    "/cases/services": {
      "get": {
        "summary": "Retrieve a list of services or search services within a catalog",
        "operationId": "Services_ListServices",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/webitel.cases.ServiceList"
            }
          }
        },
        "parameters": [
          {
            "name": "page",
            "description": "Page number for pagination",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "size",
            "description": "Number of records per page",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "sort",
            "description": "Sorting options by fields",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "id",
            "description": "List of IDs to filter the services",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "format": "int64"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "q",
            "description": "Search query string for filtering by name",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "root_id",
            "description": "Filter services by catalog ID (required)",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "state",
            "description": "Filter by state (true for active, false for inactive)",
            "in": "query",
            "required": false,
            "type": "boolean"
          }
        ],
        "tags": [
          "Services"
        ]
      },
      "post": {
        "summary": "Create a new service within a catalog",
        "operationId": "Services_CreateService",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/webitel.cases.Service"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/webitel.cases.CreateServiceRequest"
            }
          }
        ],
        "tags": [
          "Services"
        ]
      }
    },
    "/cases/services/{id}": {
      "get": {
        "summary": "Locate a service by ID",
        "operationId": "Services_LocateService",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/webitel.cases.LocateServiceResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "description": "ID of the service to be located",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          }
        ],
        "tags": [
          "Services"
        ]
      },
      "delete": {
        "summary": "Delete a service",
        "operationId": "Services_DeleteService",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/webitel.cases.ServiceList"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "description": "ID of the service to be deleted",
            "in": "path",
            "required": true,
            "type": "array",
            "items": {
              "type": "string",
              "format": "int64"
            },
            "collectionFormat": "csv",
            "minItems": 1
          }
        ],
        "tags": [
          "Services"
        ]
      },
      "put": {
        "summary": "Update an existing service",
        "operationId": "Services_UpdateService",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/webitel.cases.Service"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "description": "ID of the service to be updated",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "input",
            "description": "Input data for updating the service",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/webitel.cases.InputService"
            }
          }
        ],
        "tags": [
          "Services"
        ]
      },
      "patch": {
        "summary": "Update an existing service",
        "operationId": "Services_UpdateService2",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/webitel.cases.Service"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "description": "ID of the service to be updated",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "input",
            "description": "Input data for updating the service",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/webitel.cases.InputService"
            }
          }
        ],
        "tags": [
          "Services"
        ]
      }
    },
    "/cases/slas": {
      "get": {
        "summary": "Retrieve a list of SLAs or search SLA conditions",
        "operationId": "SLAs_ListSLAs",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/webitel.cases.SLAList"
            }
          }
        },
        "parameters": [
          {
            "name": "page",
            "description": "Page number of result dataset records. offset = (page*size)",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "size",
            "description": "Size count of records on result page. limit = (size++)",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "fields",
            "description": "Fields to be retrieved as a result.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "sort",
            "description": "Sort the result according to fields.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "id",
            "description": "Filter by unique IDs.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "format": "int64"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "q",
            "description": "Search term: SLA name;\n`?` - matches any one character\n`*` - matches 0 or more characters",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "name",
            "description": "Filter by SLA name.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "SLAs"
        ]
      },
      "post": {
        "summary": "Create a new SLA",
        "operationId": "SLAs_CreateSLA",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/webitel.cases.SLA"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/webitel.cases.CreateSLARequest"
            }
          }
        ],
        "tags": [
          "SLAs"
        ]
      }
    },
    "/cases/slas/{id}": {
      "get": {
        "summary": "Locate an SLA by ID",
        "operationId": "SLAs_LocateSLA",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/webitel.cases.LocateSLAResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          }
        ],
        "tags": [
          "SLAs"
        ]
      },
      "delete": {
        "summary": "Delete an SLA",
        "operationId": "SLAs_DeleteSLA",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/webitel.cases.SLA"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "sla_id",
            "in": "query",
            "required": true,
            "type": "string",
            "format": "int64"
          }
        ],
        "tags": [
          "SLAs"
        ]
      },
      "put": {
        "summary": "Update an existing SLA",
        "operationId": "SLAs_UpdateSLA",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/webitel.cases.SLA"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "input",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/webitel.cases.InputSLA"
            }
          }
        ],
        "tags": [
          "SLAs"
        ]
      },
      "patch": {
        "summary": "Update an existing SLA",
        "operationId": "SLAs_UpdateSLA2",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/webitel.cases.SLA"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "input",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/webitel.cases.InputSLA"
            }
          }
        ],
        "tags": [
          "SLAs"
        ]
      }
    },
    "/cases/statuses": {
      "get": {
        "summary": "Retrieve a list of statuses or search statuses",
        "operationId": "Statuses_ListStatuses",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/webitel.cases.StatusList"
            }
          }
        },
        "parameters": [
          {
            "name": "page",
            "description": "Page number of result dataset records. offset = (page*size)",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "size",
            "description": "Size count of records on result page. limit = (size++)",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "fields",
            "description": "Fields to be retrieved as a result.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "sort",
            "description": "Sort the result according to fields.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "id",
            "description": "Filter by unique IDs.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "format": "int64"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "q",
            "description": "Search term: status name;\n`?` - matches any one character\n`*` - matches 0 or more characters",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "name",
            "description": "Filter by status name.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Statuses"
        ]
      },
      "post": {
        "summary": "Create a new status",
        "operationId": "Statuses_CreateStatus",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/webitel.cases.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/webitel.cases.CreateStatusRequest"
            }
          }
        ],
        "tags": [
          "Statuses"
        ]
      }
    },
    "/cases/statuses/{id}": {
      "get": {
        "summary": "Locate a status by ID",
        "operationId": "Statuses_LocateStatus",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/webitel.cases.LocateStatusResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          }
        ],
        "tags": [
          "Statuses"
        ]
      },
      "delete": {
        "summary": "Delete a status",
        "operationId": "Statuses_DeleteStatus",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/webitel.cases.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          }
        ],
        "tags": [
          "Statuses"
        ]
      },
      "put": {
        "summary": "Update an existing status",
        "operationId": "Statuses_UpdateStatus",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/webitel.cases.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "input",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/webitel.cases.InputStatus"
            }
          }
        ],
        "tags": [
          "Statuses"
        ]
      },
      "patch": {
        "summary": "Update an existing status",
        "operationId": "Statuses_UpdateStatus2",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/webitel.cases.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "input",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/webitel.cases.InputStatus"
            }
          }
        ],
        "tags": [
          "Statuses"
        ]
      }
    },
    "/close_reasons/{close_reason_id}/reasons": {
      "get": {
        "summary": "Retrieve a list of reasons or search reasons",
        "operationId": "Reasons_ListReasons",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/webitel.cases.ReasonList"
            }
          }
        },
        "parameters": [
          {
            "name": "close_reason_id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "format": "int64"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Reasons"
        ]
      },
      "post": {
        "summary": "Create a new reason",
        "operationId": "Reasons_CreateReason",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/webitel.cases.Reason"
            }
          }
        },
        "parameters": [
          {
            "name": "close_reason_id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/webitel.cases.Reasons.CreateReasonBody"
            }
          }
        ],
        "tags": [
          "Reasons"
        ]
      }
    },
    "/close_reasons/{close_reason_id}/reasons/{id}": {
      "get": {
        "summary": "Locate a reason by ID",
        "operationId": "Reasons_LocateReason",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/webitel.cases.LocateReasonResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "close_reason_id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          }
        ],
        "tags": [
          "Reasons"
        ]
      },
      "delete": {
        "summary": "Delete a reason",
        "operationId": "Reasons_DeleteReason",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/webitel.cases.Reason"
            }
          }
        },
        "parameters": [
          {
            "name": "close_reason_id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          }
        ],
        "tags": [
          "Reasons"
        ]
      },
      "put": {
        "summary": "Update an existing reason",
        "operationId": "Reasons_UpdateReason",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/webitel.cases.Reason"
            }
          }
        },
        "parameters": [
          {
            "name": "close_reason_id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "input",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/webitel.cases.InputReason"
            }
          }
        ],
        "tags": [
          "Reasons"
        ]
      },
      "patch": {
        "summary": "Update an existing reason",
        "operationId": "Reasons_UpdateReason2",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/webitel.cases.Reason"
            }
          }
        },
        "parameters": [
          {
            "name": "close_reason_id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "input",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/webitel.cases.InputReason"
            }
          }
        ],
        "tags": [
          "Reasons"
        ]
      }
    },
    "/slas/{sla_id}/sla_condition": {
      "post": {
        "summary": "Create a new SLACondition",
        "operationId": "SLAConditions_CreateSLACondition",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/webitel.cases.SLACondition"
            }
          }
        },
        "parameters": [
          {
            "name": "sla_id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/webitel.cases.SLAConditions.CreateSLAConditionBody"
            }
          }
        ],
        "tags": [
          "SLAConditions"
        ]
      }
    },
    "/slas/{sla_id}/sla_condition/{id}": {
      "get": {
        "summary": "Locate an SLACondition by ID",
        "operationId": "SLAConditions_LocateSLACondition",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/webitel.cases.LocateSLAConditionResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "sla_id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          }
        ],
        "tags": [
          "SLAConditions"
        ]
      },
      "delete": {
        "summary": "Delete an SLACondition",
        "operationId": "SLAConditions_DeleteSLACondition",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/webitel.cases.SLACondition"
            }
          }
        },
        "parameters": [
          {
            "name": "sla_id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          }
        ],
        "tags": [
          "SLAConditions"
        ]
      },
      "put": {
        "summary": "Update an existing SLACondition",
        "operationId": "SLAConditions_UpdateSLACondition",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/webitel.cases.SLACondition"
            }
          }
        },
        "parameters": [
          {
            "name": "sla_id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "input",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/webitel.cases.InputSLACondition"
            }
          }
        ],
        "tags": [
          "SLAConditions"
        ]
      },
      "patch": {
        "summary": "Update an existing SLACondition",
        "operationId": "SLAConditions_UpdateSLACondition2",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/webitel.cases.SLACondition"
            }
          }
        },
        "parameters": [
          {
            "name": "sla_id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "input",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/webitel.cases.InputSLACondition"
            }
          }
        ],
        "tags": [
          "SLAConditions"
        ]
      }
    },
    "/slas/{sla_id}/sla_conditions": {
      "get": {
        "summary": "Retrieve a list of SLAConditions or search SLACondition conditions",
        "operationId": "SLAConditions_ListSLAConditions",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/webitel.cases.SLAConditionList"
            }
          }
        },
        "parameters": [
          {
            "name": "sla_id",
            "description": "Filter by SLA Id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "page",
            "description": "Page number of result dataset records. offset = (page*size)",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "size",
            "description": "Size count of records on result page. limit = (size++)",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "fields",
            "description": "Fields to be retrieved as a result.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "sort",
            "description": "Sort the result according to fields.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "id",
            "description": "Filter by unique IDs.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "format": "int64"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "q",
            "description": "Search term: SLACondition name;\n`?` - matches any one character\n`*` - matches 0 or more characters",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "name",
            "description": "Filter by SLACondition name.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "sla_condition_id",
            "description": "Filter by SLACondition Id.",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "int64"
          }
        ],
        "tags": [
          "SLAConditions"
        ]
      }
    },
    "/statuses/{status_id}/status": {
      "get": {
        "summary": "Retrieve a list of statuses or search status conditions",
        "operationId": "StatusConditions_ListStatusConditions",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/webitel.cases.StatusConditionList"
            }
          }
        },
        "parameters": [
          {
            "name": "status_id",
            "description": "Filter by Status Id.",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "page",
            "description": "Page number of result dataset records. offset = (page*size)",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "size",
            "description": "Size count of records on result page. limit = (size++)",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "fields",
            "description": "Fields to be retrieved as a result.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "sort",
            "description": "Sort the result according to fields.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "id",
            "description": "Filter by unique IDs.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "format": "int64"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "q",
            "description": "Search term: status name;\n`?` - matches any one character\n`*` - matches 0 or more characters",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "name",
            "description": "Filter by status name.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "StatusConditions"
        ]
      },
      "post": {
        "summary": "Create a new status condition",
        "operationId": "StatusConditions_CreateStatusCondition",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/webitel.cases.StatusCondition"
            }
          }
        },
        "parameters": [
          {
            "name": "status_id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/webitel.cases.StatusConditions.CreateStatusConditionBody"
            }
          }
        ],
        "tags": [
          "StatusConditions"
        ]
      }
    },
    "/statuses/{status_id}/status/{id}": {
      "get": {
        "summary": "Locate a status condition by ID",
        "operationId": "StatusConditions_LocateStatusCondition",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/webitel.cases.LocateStatusConditionResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "status_id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          }
        ],
        "tags": [
          "StatusConditions"
        ]
      },
      "delete": {
        "summary": "Delete a status condition",
        "operationId": "StatusConditions_DeleteStatusCondition",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/webitel.cases.StatusCondition"
            }
          }
        },
        "parameters": [
          {
            "name": "status_id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          }
        ],
        "tags": [
          "StatusConditions"
        ]
      },
      "put": {
        "summary": "Update an existing status condition",
        "operationId": "StatusConditions_UpdateStatusCondition",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/webitel.cases.StatusCondition"
            }
          }
        },
        "parameters": [
          {
            "name": "status_id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "input",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/webitel.cases.InputStatusCondition"
            }
          }
        ],
        "tags": [
          "StatusConditions"
        ]
      },
      "patch": {
        "summary": "Update an existing status condition",
        "operationId": "StatusConditions_UpdateStatusCondition2",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/webitel.cases.StatusCondition"
            }
          }
        },
        "parameters": [
          {
            "name": "status_id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "input",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/webitel.cases.InputStatusCondition"
            }
          }
        ],
        "tags": [
          "StatusConditions"
        ]
      }
    }
  },
  "definitions": {
    "webitel.cases.Appeal": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "format": "int64",
          "title": "Unique identifier of the appeal"
        },
        "name": {
          "type": "string",
          "title": "Name of the appeal"
        },
        "description": {
          "type": "string",
          "title": "Description of the appeal"
        },
        "type": {
          "$ref": "#/definitions/webitel.cases.Type",
          "title": "Source type of the appeal"
        },
        "created_at": {
          "type": "string",
          "format": "int64",
          "title": "CreatedAt timestamp of the appeal"
        },
        "updated_at": {
          "type": "string",
          "format": "int64",
          "title": "UpdatedAt timestamp of the appeal"
        },
        "created_by": {
          "$ref": "#/definitions/webitel.cases.Lookup",
          "title": "CreatedBy user of the appeal"
        },
        "updated_by": {
          "$ref": "#/definitions/webitel.cases.Lookup",
          "title": "UpdatedBy user of the appeal"
        }
      },
      "description": "Represents an appeal in the contact system."
    },
    "webitel.cases.AppealList": {
      "type": "object",
      "properties": {
        "page": {
          "type": "integer",
          "format": "int32",
          "description": "Page number of the partial result."
        },
        "next": {
          "type": "boolean",
          "description": "Have more records."
        },
        "items": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/webitel.cases.Appeal"
          },
          "description": "List of appeals."
        }
      },
      "description": "A list of appeals."
    },
    "webitel.cases.Catalog": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "format": "int64",
          "title": "Unique identifier for the catalog"
        },
        "name": {
          "type": "string",
          "title": "Name of the catalog"
        },
        "description": {
          "type": "string",
          "title": "Description of the catalog (optional)"
        },
        "prefix": {
          "type": "string",
          "title": "Prefix used for case identification (optional)"
        },
        "code": {
          "type": "string",
          "title": "Code for external integrations (optional)"
        },
        "state": {
          "type": "boolean",
          "title": "State of the catalog (true for active, false for inactive)"
        },
        "sla": {
          "$ref": "#/definitions/webitel.cases.Lookup",
          "title": "SLA associated with the catalog"
        },
        "status": {
          "$ref": "#/definitions/webitel.cases.Lookup",
          "title": "Status associated with the catalog"
        },
        "close_reason": {
          "$ref": "#/definitions/webitel.cases.Lookup",
          "title": "Close reason associated with the catalog"
        },
        "teams": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/webitel.cases.Lookup"
          },
          "title": "Teams associated with the catalog"
        },
        "skills": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/webitel.cases.Lookup"
          },
          "title": "Skills associated with the catalog"
        },
        "created_at": {
          "type": "string",
          "format": "int64",
          "title": "Timestamp when the catalog was created"
        },
        "updated_at": {
          "type": "string",
          "format": "int64",
          "title": "Timestamp when the catalog was last updated"
        },
        "created_by": {
          "$ref": "#/definitions/webitel.cases.Lookup",
          "title": "User who created the catalog"
        },
        "updated_by": {
          "$ref": "#/definitions/webitel.cases.Lookup",
          "title": "User who last updated the catalog"
        },
        "service": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/webitel.cases.Service"
          },
          "title": "Service associated with the catalog"
        }
      },
      "title": "Catalog message represents the main catalog entity with metadata"
    },
    "webitel.cases.CatalogList": {
      "type": "object",
      "properties": {
        "page": {
          "type": "integer",
          "format": "int32",
          "title": "Page number for pagination"
        },
        "next": {
          "type": "boolean",
          "title": "Indicates if there are more pages"
        },
        "items": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/webitel.cases.Catalog"
          },
          "title": "List of catalog items"
        }
      },
      "title": "CatalogList message contains a list of catalogs with pagination"
    },
    "webitel.cases.CloseReason": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "format": "int64",
          "title": "Unique identifier of the close reason"
        },
        "name": {
          "type": "string",
          "title": "Name of the close reason"
        },
        "description": {
          "type": "string",
          "title": "Description of the close reason"
        },
        "created_at": {
          "type": "string",
          "format": "int64",
          "title": "CreatedAt timestamp of the close reason"
        },
        "updated_at": {
          "type": "string",
          "format": "int64",
          "title": "UpdatedAt timestamp of the close reason"
        },
        "created_by": {
          "$ref": "#/definitions/webitel.cases.Lookup",
          "title": "CreatedBy user of the close reason"
        },
        "updated_by": {
          "$ref": "#/definitions/webitel.cases.Lookup",
          "title": "UpdatedBy user of the close reason"
        }
      },
      "title": "CloseReason message represents a close reason entity with metadata"
    },
    "webitel.cases.CloseReasonList": {
      "type": "object",
      "properties": {
        "page": {
          "type": "integer",
          "format": "int32"
        },
        "next": {
          "type": "boolean"
        },
        "items": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/webitel.cases.CloseReason"
          }
        }
      },
      "title": "CloseReasonList message contains a list of CloseReason items with pagination"
    },
    "webitel.cases.CreateAppealRequest": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the appeal."
        },
        "description": {
          "type": "string",
          "description": "The description of the appeal."
        },
        "type": {
          "$ref": "#/definitions/webitel.cases.Type",
          "description": "The source type of the appeal."
        }
      },
      "description": "Request message for creating a new appeal.",
      "required": [
        "name",
        "type"
      ]
    },
    "webitel.cases.CreateCatalogRequest": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "title": "Name of the catalog (required)"
        },
        "description": {
          "type": "string",
          "title": "Description of the catalog (optional)"
        },
        "prefix": {
          "type": "string",
          "title": "Prefix for case identification (optional)"
        },
        "code": {
          "type": "string",
          "title": "Code for external integrations (optional)"
        },
        "state": {
          "type": "boolean",
          "title": "State of the catalog (true for active, false for inactive)"
        },
        "sla_id": {
          "type": "string",
          "format": "int64",
          "title": "SLA ID associated with the catalog"
        },
        "status_id": {
          "type": "string",
          "format": "int64",
          "title": "Status ID associated with the catalog"
        },
        "close_reason_id": {
          "type": "string",
          "format": "int64",
          "title": "Close reason ID associated with the catalog"
        },
        "team_ids": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "title": "List of team IDs associated with the catalog"
        },
        "skill_ids": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "title": "List of skill IDs associated with the catalog"
        }
      },
      "title": "CreateCatalogRequest message for creating a new catalog"
    },
    "webitel.cases.CreateCloseReasonRequest": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "description": {
          "type": "string"
        }
      },
      "title": "CreateCloseReasonRequest message for creating a new close reason",
      "required": [
        "name"
      ]
    },
    "webitel.cases.CreatePriorityRequest": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "color": {
          "type": "string"
        }
      },
      "title": "CreatePriorityRequest message for creating a new priority",
      "required": [
        "name"
      ]
    },
    "webitel.cases.CreateSLARequest": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "valid_from": {
          "type": "string",
          "format": "date-time"
        },
        "valid_to": {
          "type": "string",
          "format": "date-time"
        },
        "calendar_id": {
          "type": "string",
          "format": "int64"
        },
        "reaction_time": {
          "$ref": "#/definitions/webitel.cases.ReactionTime"
        },
        "resolution_time": {
          "$ref": "#/definitions/webitel.cases.ResolutionTime"
        }
      },
      "title": "CreateSLARequest message for creating a new SLA",
      "required": [
        "name",
        "calendar_id",
        "reaction_time",
        "resolution_time"
      ]
    },
    "webitel.cases.CreateServiceRequest": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "title": "Name of the service (required)"
        },
        "root_id": {
          "type": "string",
          "format": "int64",
          "title": "Parent catalog ID (required)"
        },
        "description": {
          "type": "string",
          "title": "Description of the service (optional)"
        },
        "code": {
          "type": "string",
          "title": "Code for external integrations (optional)"
        },
        "state": {
          "type": "boolean",
          "title": "State of the service (true for active, false for inactive)"
        },
        "sla_id": {
          "type": "string",
          "format": "int64",
          "title": "SLA ID associated with the service"
        },
        "group_id": {
          "type": "string",
          "format": "int64",
          "title": "Group ID responsible for the service"
        },
        "assignee_id": {
          "type": "string",
          "format": "int64",
          "title": "Assignee ID responsible for the service"
        },
        "catalog_id": {
          "type": "string",
          "format": "int64",
          "title": "ID of the root catalog"
        }
      },
      "title": "CreateServiceRequest message for creating a new service"
    },
    "webitel.cases.CreateStatusRequest": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "description": {
          "type": "string"
        }
      },
      "title": "CreateStatusRequest message for creating a new status",
      "required": [
        "name"
      ]
    },
    "webitel.cases.InputAppeal": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the appeal."
        },
        "description": {
          "type": "string",
          "description": "The description of the appeal."
        },
        "type": {
          "$ref": "#/definitions/webitel.cases.Type",
          "description": "The source type of the appeal."
        }
      }
    },
    "webitel.cases.InputCatalog": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "title": "Name of the catalog (required)"
        },
        "description": {
          "type": "string",
          "title": "Description of the catalog (optional)"
        },
        "prefix": {
          "type": "string",
          "title": "Prefix for case identification (optional)"
        },
        "code": {
          "type": "string",
          "title": "Code for external integrations (optional)"
        },
        "state": {
          "type": "boolean",
          "title": "State of the catalog (true for active, false for inactive)"
        },
        "sla_id": {
          "type": "string",
          "format": "int64",
          "title": "SLA ID associated with the catalog"
        },
        "status_id": {
          "type": "string",
          "format": "int64",
          "title": "Status ID associated with the catalog"
        },
        "close_reason_id": {
          "type": "string",
          "format": "int64",
          "title": "Close reason ID associated with the catalog"
        },
        "team_ids": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "title": "List of team IDs associated with the catalog"
        },
        "skill_ids": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "title": "List of skill IDs associated with the catalog"
        }
      },
      "title": "InputCatalog message contains the fields for creating or updating a catalog"
    },
    "webitel.cases.InputCloseReason": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "description": {
          "type": "string"
        }
      }
    },
    "webitel.cases.InputPriority": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "color": {
          "type": "string"
        }
      }
    },
    "webitel.cases.InputReason": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "description": {
          "type": "string"
        }
      },
      "title": "InputReason message for inputting reason data"
    },
    "webitel.cases.InputSLA": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "title": "Name of the SLA"
        },
        "description": {
          "type": "string",
          "title": "Description of the SLA"
        },
        "valid_from": {
          "type": "string",
          "format": "date-time",
          "title": "Validity period for the SLA"
        },
        "valid_to": {
          "type": "string",
          "format": "date-time"
        },
        "calendar_id": {
          "type": "string",
          "format": "int64",
          "title": "Calendar ID from the \"Calendars\" dictionary"
        },
        "reaction_time": {
          "$ref": "#/definitions/webitel.cases.ReactionTime",
          "title": "Reaction time"
        },
        "resolution_time": {
          "$ref": "#/definitions/webitel.cases.ResolutionTime",
          "title": "Resolution time"
        }
      },
      "title": "InputSLA message for inputting SLA data"
    },
    "webitel.cases.InputSLACondition": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "priorities": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "title": "List of priority IDs for creation"
        },
        "reaction_time": {
          "$ref": "#/definitions/webitel.cases.ReactionTime"
        },
        "resolution_time": {
          "$ref": "#/definitions/webitel.cases.ResolutionTime"
        },
        "sla_id": {
          "type": "string",
          "format": "int64"
        }
      },
      "title": "InputSLACondition message for inputting SLACondition data"
    },
    "webitel.cases.InputService": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "title": "Name of the service (required)"
        },
        "catalog_id": {
          "type": "string",
          "format": "int64",
          "title": "The parent catalog (required)"
        },
        "description": {
          "type": "string",
          "title": "Description of the service (optional)"
        },
        "code": {
          "type": "string",
          "title": "Code for external integrations (optional)"
        },
        "state": {
          "type": "boolean",
          "title": "State of the service (true for active, false for inactive)"
        },
        "sla_id": {
          "type": "string",
          "format": "int64",
          "title": "SLA ID associated with the service"
        },
        "group_id": {
          "type": "string",
          "format": "int64",
          "title": "Group ID responsible for the service"
        },
        "assignee_id": {
          "type": "string",
          "format": "int64",
          "title": "Assignee ID responsible for the service"
        },
        "root_id": {
          "type": "string",
          "format": "int64",
          "title": "ID of the root catalog"
        }
      },
      "title": "InputService message contains the fields for creating or updating a service"
    },
    "webitel.cases.InputStatus": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "description": {
          "type": "string"
        }
      }
    },
    "webitel.cases.InputStatusCondition": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "initial": {
          "type": "boolean"
        },
        "final": {
          "type": "boolean"
        }
      },
      "title": "InputStatusCondition message for inputting status condition data"
    },
    "webitel.cases.LocateAppealResponse": {
      "type": "object",
      "properties": {
        "appeal": {
          "$ref": "#/definitions/webitel.cases.Appeal",
          "description": "The located appeal."
        }
      },
      "description": "Response message for locating an appeal."
    },
    "webitel.cases.LocateCatalogResponse": {
      "type": "object",
      "properties": {
        "catalog": {
          "$ref": "#/definitions/webitel.cases.Catalog",
          "title": "The located catalog"
        }
      },
      "title": "LocateCatalogResponse message contains a single catalog entity"
    },
    "webitel.cases.LocateCloseReasonResponse": {
      "type": "object",
      "properties": {
        "close_reason": {
          "$ref": "#/definitions/webitel.cases.CloseReason"
        }
      },
      "title": "LocateCloseReasonResponse message contains a single close reason entity"
    },
    "webitel.cases.LocatePriorityResponse": {
      "type": "object",
      "properties": {
        "priority": {
          "$ref": "#/definitions/webitel.cases.Priority"
        }
      },
      "title": "LocatePriorityResponse message contains a single priority entity"
    },
    "webitel.cases.LocateReasonResponse": {
      "type": "object",
      "properties": {
        "reason": {
          "$ref": "#/definitions/webitel.cases.Reason"
        }
      },
      "title": "LocateReasonResponse message contains a single reason entity"
    },
    "webitel.cases.LocateSLAConditionResponse": {
      "type": "object",
      "properties": {
        "sla_condition": {
          "$ref": "#/definitions/webitel.cases.SLACondition"
        }
      },
      "title": "LocateSLAConditionResponse message contains a single SLACondition entity"
    },
    "webitel.cases.LocateSLAResponse": {
      "type": "object",
      "properties": {
        "sla": {
          "$ref": "#/definitions/webitel.cases.SLA"
        }
      },
      "title": "LocateSLAResponse message contains a single SLA entity"
    },
    "webitel.cases.LocateServiceResponse": {
      "type": "object",
      "properties": {
        "service": {
          "$ref": "#/definitions/webitel.cases.Service",
          "title": "The located service"
        }
      },
      "title": "LocateServiceResponse message contains a single service entity"
    },
    "webitel.cases.LocateStatusConditionResponse": {
      "type": "object",
      "properties": {
        "status": {
          "$ref": "#/definitions/webitel.cases.StatusCondition"
        }
      },
      "title": "LocateStatusConditionResponse message contains a single status entity"
    },
    "webitel.cases.LocateStatusResponse": {
      "type": "object",
      "properties": {
        "status": {
          "$ref": "#/definitions/webitel.cases.Status"
        }
      },
      "title": "LocateStatusResponse message contains a single status entity"
    },
    "webitel.cases.Lookup": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "format": "int64"
        },
        "name": {
          "type": "string"
        }
      },
      "title": "Lookup message represents a lookup entity with metadata"
    },
    "webitel.cases.Priority": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "format": "int64",
          "title": "Unique identifier of the priority"
        },
        "name": {
          "type": "string",
          "title": "Name of the priority"
        },
        "description": {
          "type": "string",
          "title": "Description of the priority"
        },
        "created_at": {
          "type": "string",
          "format": "int64",
          "title": "CreatedAt timestamp of the priority"
        },
        "updated_at": {
          "type": "string",
          "format": "int64",
          "title": "UpdatedAt timestamp of the priority"
        },
        "created_by": {
          "$ref": "#/definitions/webitel.cases.Lookup",
          "title": "CreatedBy user of the priority"
        },
        "updated_by": {
          "$ref": "#/definitions/webitel.cases.Lookup",
          "title": "UpdatedBy user of the priority"
        },
        "color": {
          "type": "string",
          "title": "Color of the priority"
        }
      },
      "title": "Priority message represents a priority entity with metadata"
    },
    "webitel.cases.PriorityList": {
      "type": "object",
      "properties": {
        "page": {
          "type": "integer",
          "format": "int32"
        },
        "next": {
          "type": "boolean"
        },
        "items": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/webitel.cases.Priority"
          }
        }
      },
      "title": "PriorityList message contains a list of Priority items with pagination"
    },
    "webitel.cases.ReactionTime": {
      "type": "object",
      "properties": {
        "hours": {
          "type": "integer",
          "format": "int32"
        },
        "minutes": {
          "type": "integer",
          "format": "int32"
        }
      },
      "title": "ReactionTime message represents the reaction time in hours and minutes"
    },
    "webitel.cases.Reason": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "format": "int64",
          "title": "Unique identifier of the reason"
        },
        "name": {
          "type": "string",
          "title": "Name of the reason"
        },
        "description": {
          "type": "string",
          "title": "Description of the reason"
        },
        "close_reason_id": {
          "type": "string",
          "format": "int64",
          "title": "Close Reason ID of the reason"
        },
        "created_at": {
          "type": "string",
          "format": "int64",
          "title": "CreatedAt timestamp of the reason"
        },
        "updated_at": {
          "type": "string",
          "format": "int64",
          "title": "UpdatedAt timestamp of the reason"
        },
        "created_by": {
          "$ref": "#/definitions/webitel.cases.Lookup",
          "title": "CreatedBy user of the reason"
        },
        "updated_by": {
          "$ref": "#/definitions/webitel.cases.Lookup",
          "title": "UpdatedBy user of the reason"
        }
      },
      "title": "Reason message represents a reason entity with metadata"
    },
    "webitel.cases.ReasonList": {
      "type": "object",
      "properties": {
        "page": {
          "type": "integer",
          "format": "int32"
        },
        "next": {
          "type": "boolean"
        },
        "items": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/webitel.cases.Reason"
          }
        }
      },
      "title": "ReasonList message contains a list of Reason items with pagination"
    },
    "webitel.cases.Reasons.CreateReasonBody": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "description": {
          "type": "string"
        }
      },
      "title": "CreateReasonRequest message for creating a new reason",
      "required": [
        "name",
        "lookup_id"
      ]
    },
    "webitel.cases.ResolutionTime": {
      "type": "object",
      "properties": {
        "hours": {
          "type": "integer",
          "format": "int32"
        },
        "minutes": {
          "type": "integer",
          "format": "int32"
        }
      },
      "title": "ResolutionTime message represents the resolution time in hours and minutes"
    },
    "webitel.cases.SLA": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "format": "int64",
          "title": "Unique identifier of the SLA"
        },
        "name": {
          "type": "string",
          "title": "Name of the SLA - required"
        },
        "description": {
          "type": "string",
          "title": "Description of the SLA - optional"
        },
        "valid_from": {
          "type": "string",
          "format": "int64",
          "title": "Validity period for the SLA - optional"
        },
        "valid_to": {
          "type": "string",
          "format": "int64"
        },
        "calendar_id": {
          "type": "string",
          "format": "int64",
          "title": "Calendar ID from the \"Calendars\" dictionary - required"
        },
        "reaction_time": {
          "$ref": "#/definitions/webitel.cases.ReactionTime",
          "title": "Reaction time - required"
        },
        "resolution_time": {
          "$ref": "#/definitions/webitel.cases.ResolutionTime",
          "title": "Resolution time - required"
        },
        "created_at": {
          "type": "string",
          "format": "int64",
          "title": "CreatedAt timestamp of the SLA"
        },
        "updated_at": {
          "type": "string",
          "format": "int64",
          "title": "UpdatedAt timestamp of the SLA"
        },
        "created_by": {
          "$ref": "#/definitions/webitel.cases.Lookup",
          "title": "CreatedBy user of the SLA"
        },
        "updated_by": {
          "$ref": "#/definitions/webitel.cases.Lookup",
          "title": "UpdatedBy user of the SLA"
        }
      },
      "title": "SLA message represents an SLA entity with metadata"
    },
    "webitel.cases.SLACondition": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "format": "int64",
          "title": "Unique identifier of the SLACondition"
        },
        "name": {
          "type": "string",
          "title": "Name of the SLACondition - required"
        },
        "priorities": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/webitel.cases.Lookup"
          },
          "title": "Priorities associated with the SLACondition - fetched as Lookup entities [ Priority name + ID ]"
        },
        "reaction_time": {
          "$ref": "#/definitions/webitel.cases.ReactionTime",
          "title": "Reaction time - required"
        },
        "resolution_time": {
          "$ref": "#/definitions/webitel.cases.ResolutionTime",
          "title": "Resolution time - required"
        },
        "sla_id": {
          "type": "string",
          "format": "int64",
          "title": "SLA ID associated with the SLACondition"
        },
        "created_at": {
          "type": "string",
          "format": "int64",
          "title": "CreatedAt timestamp of the SLACondition"
        },
        "updated_at": {
          "type": "string",
          "format": "int64",
          "title": "UpdatedAt timestamp of the SLACondition"
        },
        "created_by": {
          "$ref": "#/definitions/webitel.cases.Lookup",
          "title": "CreatedBy user of the SLACondition"
        },
        "updated_by": {
          "$ref": "#/definitions/webitel.cases.Lookup",
          "title": "UpdatedBy user of the SLACondition"
        }
      },
      "title": "SLACondition message represents an SLACondition entity with metadata"
    },
    "webitel.cases.SLAConditionList": {
      "type": "object",
      "properties": {
        "page": {
          "type": "integer",
          "format": "int32"
        },
        "next": {
          "type": "boolean"
        },
        "items": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/webitel.cases.SLACondition"
          }
        }
      },
      "title": "SLAConditionList message contains a list of SLACondition items with pagination"
    },
    "webitel.cases.SLAConditions.CreateSLAConditionBody": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "priorities": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "title": "List of priority IDs for creation [FROM Priority Dictionary]"
        },
        "reaction_time": {
          "$ref": "#/definitions/webitel.cases.ReactionTime"
        },
        "resolution_time": {
          "$ref": "#/definitions/webitel.cases.ResolutionTime"
        }
      },
      "title": "CreateSLAConditionRequest message for creating a new SLACondition",
      "required": [
        "name",
        "priorities",
        "reaction_time",
        "resolution_time"
      ]
    },
    "webitel.cases.SLAList": {
      "type": "object",
      "properties": {
        "page": {
          "type": "integer",
          "format": "int32"
        },
        "next": {
          "type": "boolean"
        },
        "items": {
          "type": "array",
          "items": {
            "type": "object",
[...]
