{
  "swagger": "2.0",
  "info": {
    "title": "Webitel Cases ReSTfull API",
    "version": "v24.04",
    "contact": {
      "name": "Webitel LLC",
      "url": "https://www.webitel.com",
      "email": "support@webitel.com"
    },
    "license": {
      "name": "MIT"
    }
  },
  "tags": [
    {
      "name": "Appeals"
    },
    {
      "name": "CloseReasons"
    },
    {
      "name": "Reasons"
    },
    {
      "name": "StatusConditions"
    },
    {
      "name": "Statuses"
    },
    {
      "name": "Priorities"
    }
  ],
  "host": "nx.webitel.org",
  "basePath": "/api",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/cases/appeals": {
      "get": {
        "summary": "Retrieve a list of appeals or search appeals",
        "operationId": "Appeals_ListAppeals",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/webitel.cases.AppealList"
            }
          }
        },
        "parameters": [
          {
            "name": "page",
            "description": "Page number of result dataset records. offset = (page*size)",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "size",
            "description": "Size count of records on result page. limit = (size++)",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "fields",
            "description": "Fields to be retrieved as a result.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "sort",
            "description": "Sort the result according to fields.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "id",
            "description": "Filter by unique IDs.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "format": "int64"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "q",
            "description": "Search term: appeal name;\n`?` - matches any one character\n`*` - matches 0 or more characters",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "name",
            "description": "Filter by appeal name.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "type",
            "description": "Filter by appeal type.\n\n - TYPE_UNSPECIFIED: Default value\n - CALL: Call\n - CHAT: Chat\n - SOCIAL_MEDIA: Social Media\n - EMAIL: Email\n - API: API\n - MANUAL: Manual",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "TYPE_UNSPECIFIED",
                "CALL",
                "CHAT",
                "SOCIAL_MEDIA",
                "EMAIL",
                "API",
                "MANUAL"
              ]
            },
            "collectionFormat": "multi"
          }
        ],
        "tags": [
          "Appeals"
        ]
      },
      "post": {
        "summary": "Create a new appeal",
        "operationId": "Appeals_CreateAppeal",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/webitel.cases.Appeal"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "description": "Request message for creating a new appeal.",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/webitel.cases.CreateAppealRequest"
            }
          }
        ],
        "tags": [
          "Appeals"
        ]
      }
    },
    "/cases/appeals/{id}": {
      "get": {
        "summary": "Locate an appeal by ID",
        "operationId": "Appeals_LocateAppeal",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/webitel.cases.LocateAppealResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "description": "The unique ID of the appeal to locate.",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "fields",
            "description": "Fields to be retrieved into result.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          }
        ],
        "tags": [
          "Appeals"
        ]
      },
      "delete": {
        "summary": "Delete an appeal",
        "operationId": "Appeals_DeleteAppeal",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/webitel.cases.Appeal"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "description": "The unique ID of the appeal to delete.",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          }
        ],
        "tags": [
          "Appeals"
        ]
      },
      "put": {
        "summary": "Update an existing appeal",
        "operationId": "Appeals_UpdateAppeal",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/webitel.cases.Appeal"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "description": "The unique ID of the appeal to update.",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/webitel.cases.Appeals.UpdateAppealBody"
            }
          }
        ],
        "tags": [
          "Appeals"
        ]
      },
      "patch": {
        "summary": "Update an existing appeal",
        "operationId": "Appeals_UpdateAppeal2",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/webitel.cases.Appeal"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "description": "The unique ID of the appeal to update.",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/webitel.cases.Appeals.UpdateAppealBody"
            }
          }
        ],
        "tags": [
          "Appeals"
        ]
      }
    },
    "/cases/closeReasons": {
      "get": {
        "summary": "Retrieve a list of close reasons or search close reasons",
        "operationId": "CloseReasons_ListCloseReasons",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/webitel.cases.CloseReasonList"
            }
          }
        },
        "parameters": [
          {
            "name": "page",
            "description": "Page number of result dataset records. offset = (page*size)",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "size",
            "description": "Size count of records on result page. limit = (size++)",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "fields",
            "description": "Fields to be retrieved as a result.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "sort",
            "description": "Sort the result according to fields.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "id",
            "description": "Filter by unique IDs.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "format": "int64"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "q",
            "description": "Search term: close reason name;\n`?` - matches any one character\n`*` - matches 0 or more characters",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "name",
            "description": "Filter by close reason name.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "CloseReasons"
        ]
      },
      "post": {
        "summary": "Create a new close reason",
        "operationId": "CloseReasons_CreateCloseReason",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/webitel.cases.CloseReason"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/webitel.cases.CreateCloseReasonRequest"
            }
          }
        ],
        "tags": [
          "CloseReasons"
        ]
      }
    },
    "/cases/closeReasons/{id}": {
      "get": {
        "summary": "Locate a close reason by ID",
        "operationId": "CloseReasons_LocateCloseReason",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/webitel.cases.LocateCloseReasonResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          }
        ],
        "tags": [
          "CloseReasons"
        ]
      },
      "delete": {
        "summary": "Delete a close reason",
        "operationId": "CloseReasons_DeleteCloseReason",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/webitel.cases.CloseReason"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          }
        ],
        "tags": [
          "CloseReasons"
        ]
      },
      "put": {
        "summary": "Update an existing close reason",
        "operationId": "CloseReasons_UpdateCloseReason",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/webitel.cases.CloseReason"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/webitel.cases.CloseReasons.UpdateCloseReasonBody"
            }
          }
        ],
        "tags": [
          "CloseReasons"
        ]
      },
      "patch": {
        "summary": "Update an existing close reason",
        "operationId": "CloseReasons_UpdateCloseReason2",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/webitel.cases.CloseReason"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/webitel.cases.CloseReasons.UpdateCloseReasonBody"
            }
          }
        ],
        "tags": [
          "CloseReasons"
        ]
      }
    },
    "/cases/priorities": {
      "get": {
        "summary": "Retrieve a list of priorities or search priorities",
        "operationId": "Priorities_ListPriorities",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/webitel.cases.PriorityList"
            }
          }
        },
        "parameters": [
          {
            "name": "page",
            "description": "Page number of result dataset records. offset = (page*size)",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "size",
            "description": "Size count of records on result page. limit = (size++)",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "fields",
            "description": "Fields to be retrieved as a result.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "sort",
            "description": "Sort the result according to fields.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "id",
            "description": "Filter by unique IDs.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "format": "int64"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "q",
            "description": "Search term: priority name;\n`?` - matches any one character\n`*` - matches 0 or more characters",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "name",
            "description": "Filter by priority name.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Priorities"
        ]
      },
      "post": {
        "summary": "Create a new priority",
        "operationId": "Priorities_CreatePriority",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/webitel.cases.Priority"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/webitel.cases.CreatePriorityRequest"
            }
          }
        ],
        "tags": [
          "Priorities"
        ]
      }
    },
    "/cases/priorities/{id}": {
      "get": {
        "summary": "Locate a priority by ID",
        "operationId": "Priorities_LocatePriority",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/webitel.cases.LocatePriorityResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          }
        ],
        "tags": [
          "Priorities"
        ]
      },
      "delete": {
        "summary": "Delete a priority",
        "operationId": "Priorities_DeletePriority",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/webitel.cases.Priority"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          }
        ],
        "tags": [
          "Priorities"
        ]
      },
      "put": {
        "summary": "Update an existing priority",
        "operationId": "Priorities_UpdatePriority",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/webitel.cases.Priority"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/webitel.cases.Priorities.UpdatePriorityBody"
            }
          }
        ],
        "tags": [
          "Priorities"
        ]
      },
      "patch": {
        "summary": "Update an existing priority",
        "operationId": "Priorities_UpdatePriority2",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/webitel.cases.Priority"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/webitel.cases.Priorities.UpdatePriorityBody"
            }
          }
        ],
        "tags": [
          "Priorities"
        ]
      }
    },
    "/cases/statuses": {
      "get": {
        "summary": "Retrieve a list of statuses or search statuses",
        "operationId": "Statuses_ListStatuses",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/webitel.cases.StatusList"
            }
          }
        },
        "parameters": [
          {
            "name": "page",
            "description": "Page number of result dataset records. offset = (page*size)",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "size",
            "description": "Size count of records on result page. limit = (size++)",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "fields",
            "description": "Fields to be retrieved as a result.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "sort",
            "description": "Sort the result according to fields.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "id",
            "description": "Filter by unique IDs.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "format": "int64"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "q",
            "description": "Search term: status name;\n`?` - matches any one character\n`*` - matches 0 or more characters",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "name",
            "description": "Filter by status name.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Statuses"
        ]
      },
      "post": {
        "summary": "Create a new status",
        "operationId": "Statuses_CreateStatus",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/webitel.cases.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/webitel.cases.CreateStatusRequest"
            }
          }
        ],
        "tags": [
          "Statuses"
        ]
      }
    },
    "/cases/statuses/{id}": {
      "get": {
        "summary": "Locate a status by ID",
        "operationId": "Statuses_LocateStatus",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/webitel.cases.LocateStatusResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          }
        ],
        "tags": [
          "Statuses"
        ]
      },
      "delete": {
        "summary": "Delete a status",
        "operationId": "Statuses_DeleteStatus",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/webitel.cases.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          }
        ],
        "tags": [
          "Statuses"
        ]
      },
      "put": {
        "summary": "Update an existing status",
        "operationId": "Statuses_UpdateStatus",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/webitel.cases.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/webitel.cases.Statuses.UpdateStatusBody"
            }
          }
        ],
        "tags": [
          "Statuses"
        ]
      },
      "patch": {
        "summary": "Update an existing status",
        "operationId": "Statuses_UpdateStatus2",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/webitel.cases.Status"
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/webitel.cases.Statuses.UpdateStatusBody"
            }
          }
        ],
        "tags": [
          "Statuses"
        ]
      }
    },
    "/close_reasons/{close_reason_id}/reasons": {
      "get": {
        "summary": "Retrieve a list of reasons or search reasons",
        "operationId": "Reasons_ListReasons",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/webitel.cases.ReasonList"
            }
          }
        },
        "parameters": [
          {
            "name": "close_reason_id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "id",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "format": "int64"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "name",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Reasons"
        ]
      },
      "post": {
        "summary": "Create a new reason",
        "operationId": "Reasons_CreateReason",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/webitel.cases.Reason"
            }
          }
        },
        "parameters": [
          {
            "name": "close_reason_id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/webitel.cases.Reasons.CreateReasonBody"
            }
          }
        ],
        "tags": [
          "Reasons"
        ]
      }
    },
    "/close_reasons/{close_reason_id}/reasons/{id}": {
      "get": {
        "summary": "Locate a reason by ID",
        "operationId": "Reasons_LocateReason",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/webitel.cases.LocateReasonResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "close_reason_id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          }
        ],
        "tags": [
          "Reasons"
        ]
      },
      "delete": {
        "summary": "Delete a reason",
        "operationId": "Reasons_DeleteReason",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/webitel.cases.Reason"
            }
          }
        },
        "parameters": [
          {
            "name": "close_reason_id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          }
        ],
        "tags": [
          "Reasons"
        ]
      },
      "put": {
        "summary": "Update an existing reason",
        "operationId": "Reasons_UpdateReason",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/webitel.cases.Reason"
            }
          }
        },
        "parameters": [
          {
            "name": "close_reason_id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "input",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/webitel.cases.InputReason"
            }
          }
        ],
        "tags": [
          "Reasons"
        ]
      },
      "patch": {
        "summary": "Update an existing reason",
        "operationId": "Reasons_UpdateReason2",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/webitel.cases.Reason"
            }
          }
        },
        "parameters": [
          {
            "name": "close_reason_id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "input",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/webitel.cases.InputReason"
            }
          }
        ],
        "tags": [
          "Reasons"
        ]
      }
    },
    "/statuses/{status_id}/status": {
      "get": {
        "summary": "Retrieve a list of statuses or search status conditions",
        "operationId": "StatusConditions_ListStatusConditions",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/webitel.cases.StatusConditionList"
            }
          }
        },
        "parameters": [
          {
            "name": "status_id",
            "description": "Filter by Status Id.",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "page",
            "description": "Page number of result dataset records. offset = (page*size)",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "size",
            "description": "Size count of records on result page. limit = (size++)",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "fields",
            "description": "Fields to be retrieved as a result.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "sort",
            "description": "Sort the result according to fields.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "id",
            "description": "Filter by unique IDs.",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "format": "int64"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "q",
            "description": "Search term: status name;\n`?` - matches any one character\n`*` - matches 0 or more characters",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "name",
            "description": "Filter by status name.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "StatusConditions"
        ]
      },
      "post": {
        "summary": "Create a new status condition",
        "operationId": "StatusConditions_CreateStatusCondition",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/webitel.cases.StatusCondition"
            }
          }
        },
        "parameters": [
          {
            "name": "status_id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/webitel.cases.StatusConditions.CreateStatusConditionBody"
            }
          }
        ],
        "tags": [
          "StatusConditions"
        ]
      }
    },
    "/statuses/{status_id}/status/{id}": {
      "get": {
        "summary": "Locate a status condition by ID",
        "operationId": "StatusConditions_LocateStatusCondition",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/webitel.cases.LocateStatusConditionResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "status_id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "fields",
            "in": "query",
            "required": false,
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          }
        ],
        "tags": [
          "StatusConditions"
        ]
      },
      "delete": {
        "summary": "Delete a status condition",
        "operationId": "StatusConditions_DeleteStatusCondition",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/webitel.cases.StatusCondition"
            }
          }
        },
        "parameters": [
          {
            "name": "status_id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          }
        ],
        "tags": [
          "StatusConditions"
        ]
      },
      "put": {
        "summary": "Update an existing status condition",
        "operationId": "StatusConditions_UpdateStatusCondition",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/webitel.cases.StatusCondition"
            }
          }
        },
        "parameters": [
          {
            "name": "status_id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "input",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/webitel.cases.InputStatusCondition"
            }
          }
        ],
        "tags": [
          "StatusConditions"
        ]
      },
      "patch": {
        "summary": "Update an existing status condition",
        "operationId": "StatusConditions_UpdateStatusCondition2",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/webitel.cases.StatusCondition"
            }
          }
        },
        "parameters": [
          {
            "name": "status_id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "int64"
          },
          {
            "name": "input",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/webitel.cases.InputStatusCondition"
            }
          }
        ],
        "tags": [
          "StatusConditions"
        ]
      }
    }
  },
  "definitions": {
    "webitel.cases.Appeal": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "format": "int64",
          "title": "Unique identifier of the appeal"
        },
        "name": {
          "type": "string",
          "title": "Name of the appeal"
        },
        "description": {
          "type": "string",
          "title": "Description of the appeal"
        },
        "type": {
          "$ref": "#/definitions/webitel.cases.Type",
          "title": "Source type of the appeal"
        },
        "created_at": {
          "type": "string",
          "format": "int64",
          "title": "CreatedAt timestamp of the appeal"
        },
        "updated_at": {
          "type": "string",
          "format": "int64",
          "title": "UpdatedAt timestamp of the appeal"
        },
        "created_by": {
          "$ref": "#/definitions/webitel.cases.Lookup",
          "title": "CreatedBy user of the appeal"
        },
        "updated_by": {
          "$ref": "#/definitions/webitel.cases.Lookup",
          "title": "UpdatedBy user of the appeal"
        }
      },
      "description": "Represents an appeal in the contact system."
    },
    "webitel.cases.AppealList": {
      "type": "object",
      "properties": {
        "page": {
          "type": "integer",
          "format": "int32",
          "description": "Page number of the partial result."
        },
        "next": {
          "type": "boolean",
          "description": "Have more records."
        },
        "items": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/webitel.cases.Appeal"
          },
          "description": "List of appeals."
        }
      },
      "description": "A list of appeals."
    },
    "webitel.cases.Appeals.UpdateAppealBody": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The new name of the appeal."
        },
        "description": {
          "type": "string",
          "description": "The new description of the appeal."
        },
        "type": {
          "$ref": "#/definitions/webitel.cases.Type",
          "description": "The new source type of the appeal."
        }
      },
      "description": "Request message for updating an existing appeal."
    },
    "webitel.cases.CloseReason": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "format": "int64",
          "title": "Unique identifier of the close reason"
        },
        "name": {
          "type": "string",
          "title": "Name of the close reason"
        },
        "description": {
          "type": "string",
          "title": "Description of the close reason"
        },
        "created_at": {
          "type": "string",
          "format": "int64",
          "title": "CreatedAt timestamp of the close reason"
        },
        "updated_at": {
          "type": "string",
          "format": "int64",
          "title": "UpdatedAt timestamp of the close reason"
        },
        "created_by": {
          "$ref": "#/definitions/webitel.cases.Lookup",
          "title": "CreatedBy user of the close reason"
        },
        "updated_by": {
          "$ref": "#/definitions/webitel.cases.Lookup",
          "title": "UpdatedBy user of the close reason"
        }
      },
      "title": "CloseReason message represents a close reason entity with metadata"
    },
    "webitel.cases.CloseReasonList": {
      "type": "object",
      "properties": {
        "page": {
          "type": "integer",
          "format": "int32"
        },
        "next": {
          "type": "boolean"
        },
        "items": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/webitel.cases.CloseReason"
          }
        }
      },
      "title": "CloseReasonList message contains a list of CloseReason items with pagination"
    },
    "webitel.cases.CloseReasons.UpdateCloseReasonBody": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "description": {
          "type": "string"
        }
      },
      "title": "UpdateCloseReasonRequest message for updating an existing close reason"
    },
    "webitel.cases.CreateAppealRequest": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the appeal."
        },
        "description": {
          "type": "string",
          "description": "The description of the appeal."
        },
        "type": {
          "$ref": "#/definitions/webitel.cases.Type",
          "description": "The source type of the appeal."
        }
      },
      "description": "Request message for creating a new appeal.",
      "required": [
        "name",
        "type"
      ]
    },
    "webitel.cases.CreateCloseReasonRequest": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "description": {
          "type": "string"
        }
      },
      "title": "CreateCloseReasonRequest message for creating a new close reason",
      "required": [
        "name"
      ]
    },
    "webitel.cases.CreatePriorityRequest": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "color": {
          "type": "string"
        }
      },
      "title": "CreatePriorityRequest message for creating a new priority",
      "required": [
        "name"
      ]
    },
    "webitel.cases.CreateStatusRequest": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "description": {
          "type": "string"
        }
      },
      "title": "CreateStatusRequest message for creating a new status",
      "required": [
        "name"
      ]
    },
    "webitel.cases.InputReason": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "description": {
          "type": "string"
        }
      },
      "title": "InputReason message for inputting reason data"
    },
    "webitel.cases.InputStatusCondition": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "initial": {
          "type": "boolean"
        },
        "final": {
          "type": "boolean"
        }
      },
      "title": "InputStatusCondition message for inputting status condition data"
    },
    "webitel.cases.LocateAppealResponse": {
      "type": "object",
      "properties": {
        "appeal": {
          "$ref": "#/definitions/webitel.cases.Appeal",
          "description": "The located appeal."
        }
      },
      "description": "Response message for locating an appeal."
    },
    "webitel.cases.LocateCloseReasonResponse": {
      "type": "object",
      "properties": {
        "close_reason": {
          "$ref": "#/definitions/webitel.cases.CloseReason"
        }
      },
      "title": "LocateCloseReasonResponse message contains a single close reason entity"
    },
    "webitel.cases.LocatePriorityResponse": {
      "type": "object",
      "properties": {
        "priority": {
          "$ref": "#/definitions/webitel.cases.Priority"
        }
      },
      "title": "LocatePriorityResponse message contains a single priority entity"
    },
    "webitel.cases.LocateReasonResponse": {
      "type": "object",
      "properties": {
        "reason": {
          "$ref": "#/definitions/webitel.cases.Reason"
        }
      },
      "title": "LocateReasonResponse message contains a single reason entity"
    },
    "webitel.cases.LocateStatusConditionResponse": {
      "type": "object",
      "properties": {
        "status": {
          "$ref": "#/definitions/webitel.cases.StatusCondition"
        }
      },
      "title": "LocateStatusConditionResponse message contains a single status entity"
    },
    "webitel.cases.LocateStatusResponse": {
      "type": "object",
      "properties": {
        "status": {
          "$ref": "#/definitions/webitel.cases.Status"
        }
      },
      "title": "LocateStatusResponse message contains a single status entity"
    },
    "webitel.cases.Lookup": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "format": "int64"
        },
        "name": {
          "type": "string"
        }
      },
      "title": "Lookup message represents a lookup entity with metadata"
    },
    "webitel.cases.Priorities.UpdatePriorityBody": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "color": {
          "type": "string"
        }
      },
      "title": "UpdatePriorityRequest message for updating an existing priority"
    },
    "webitel.cases.Priority": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "format": "int64",
          "title": "Unique identifier of the priority"
        },
        "name": {
          "type": "string",
          "title": "Name of the priority"
        },
        "description": {
          "type": "string",
          "title": "Description of the priority"
        },
        "created_at": {
          "type": "string",
          "format": "int64",
          "title": "CreatedAt timestamp of the priority"
        },
        "updated_at": {
          "type": "string",
          "format": "int64",
          "title": "UpdatedAt timestamp of the priority"
        },
        "created_by": {
          "$ref": "#/definitions/webitel.cases.Lookup",
          "title": "CreatedBy user of the priority"
        },
        "updated_by": {
          "$ref": "#/definitions/webitel.cases.Lookup",
          "title": "UpdatedBy user of the priority"
        },
        "color": {
          "type": "string",
          "title": "Color of the priority"
        }
      },
      "title": "Priority message represents a priority entity with metadata"
    },
    "webitel.cases.PriorityList": {
      "type": "object",
      "properties": {
        "page": {
          "type": "integer",
          "format": "int32"
        },
        "next": {
          "type": "boolean"
        },
        "items": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/webitel.cases.Priority"
          }
        }
      },
      "title": "PriorityList message contains a list of Priority items with pagination"
    },
    "webitel.cases.Reason": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "format": "int64",
          "title": "Unique identifier of the reason"
        },
        "name": {
          "type": "string",
          "title": "Name of the reason"
        },
        "description": {
          "type": "string",
          "title": "Description of the reason"
        },
        "close_reason_id": {
          "type": "string",
          "format": "int64",
          "title": "Close Reason ID of the reason"
        },
        "created_at": {
          "type": "string",
          "format": "int64",
          "title": "CreatedAt timestamp of the reason"
        },
        "updated_at": {
          "type": "string",
          "format": "int64",
          "title": "UpdatedAt timestamp of the reason"
        },
        "created_by": {
          "$ref": "#/definitions/webitel.cases.Lookup",
          "title": "CreatedBy user of the reason"
        },
        "updated_by": {
          "$ref": "#/definitions/webitel.cases.Lookup",
          "title": "UpdatedBy user of the reason"
        }
      },
      "title": "Reason message represents a reason entity with metadata"
    },
    "webitel.cases.ReasonList": {
      "type": "object",
      "properties": {
        "page": {
          "type": "integer",
          "format": "int32"
        },
        "next": {
          "type": "boolean"
        },
        "items": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/webitel.cases.Reason"
          }
        }
      },
      "title": "ReasonList message contains a list of Reason items with pagination"
    },
    "webitel.cases.Reasons.CreateReasonBody": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "description": {
          "type": "string"
        }
      },
      "title": "CreateReasonRequest message for creating a new reason",
      "required": [
        "name",
        "lookup_id"
      ]
    },
    "webitel.cases.Status": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "format": "int64",
          "title": "Unique identifier of the close reason"
        },
        "name": {
          "type": "string",
          "title": "Name of the close reason"
        },
        "description": {
          "type": "string",
          "title": "Description of the close reason"
        },
        "created_at": {
          "type": "string",
          "format": "int64",
          "title": "CreatedAt timestamp of the close reason"
        },
        "updated_at": {
          "type": "string",
          "format": "int64",
          "title": "UpdatedAt timestamp of the close reason"
        },
        "created_by": {
          "$ref": "#/definitions/webitel.cases.Lookup",
          "title": "CreatedBy user of the close reason"
        },
        "updated_by": {
          "$ref": "#/definitions/webitel.cases.Lookup",
          "title": "UpdatedBy user of the close reason"
        }
      },
      "title": "Status message represents a status entity with metadata"
    },
    "webitel.cases.StatusCondition": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "format": "int64",
          "title": "Unique identifier of the status condition"
        },
        "name": {
          "type": "string",
          "title": "Name of the status condition"
        },
        "description": {
          "type": "string",
          "title": "Description of the status condition"
        },
        "initial": {
          "type": "boolean",
          "title": "Initial status condition"
        },
        "final": {
          "type": "boolean",
          "title": "Final status condition"
        },
        "status_id": {
          "type": "string",
          "format": "int64",
          "title": "Status ID of the status condition"
        },
        "created_at": {
          "type": "string",
          "format": "int64",
          "title": "CreatedAt timestamp of the status condition"
        },
        "updated_at": {
          "type": "string",
          "format": "int64",
          "title": "UpdatedAt timestamp of the status condition"
        },
        "created_by": {
          "$ref": "#/definitions/webitel.cases.Lookup",
          "title": "CreatedBy user of the status condition"
        },
        "updated_by": {
          "$ref": "#/definitions/webitel.cases.Lookup",
          "title": "UpdatedBy user of the status condition"
        }
      },
      "title": "StatusCondition message represents a status entity with metadata"
    },
    "webitel.cases.StatusConditionList": {
      "type": "object",
      "properties": {
        "page": {
          "type": "integer",
          "format": "int32"
        },
        "next": {
          "type": "boolean"
        },
        "items": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/webitel.cases.StatusCondition"
          }
        }
      },
      "title": "StatusConditionList message contains a list of StatusCondition items with pagination"
    },
    "webitel.cases.StatusConditions.CreateStatusConditionBody": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "description": {
          "type": "string"
        }
      },
      "title": "CreateStatusConditionRequest message for creating a new status",
      "required": [
        "name",
        "lookup_id"
      ]
    },
    "webitel.cases.StatusList": {
      "type": "object",
      "properties": {
        "page": {
          "type": "integer",
          "format": "int32"
        },
        "next": {
          "type": "boolean"
        },
        "items": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/webitel.cases.Status"
          }
        }
      },
      "title": "StatusList message contains a list of Status items with pagination"
    },
    "webitel.cases.Statuses.UpdateStatusBody": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "description": {
          "type": "string"
        }
      },
      "title": "UpdateStatusRequest message for updating an existing status"
    },
    "webitel.cases.Type": {
      "type": "string",
      "enum": [
        "TYPE_UNSPECIFIED",
        "CALL",
        "CHAT",
        "SOCIAL_MEDIA",
        "EMAIL",
        "API",
        "MANUAL"
      ],
      "default": "TYPE_UNSPECIFIED",
      "description": "Represents a source type for the appeal.\n\n - TYPE_UNSPECIFIED: Default value\n - CALL: Call\n - CHAT: Chat\n - SOCIAL_MEDIA: Social Media\n - EMAIL: Email\n - API: API\n - MANUAL: Manual"
    }
  },
  "securityDefinitions": {
    "AccessToken": {
      "type": "apiKey",
      "name": "X-Webitel-Access",
      "in": "header"
    }
  },
  "security": [
    {
      "AccessToken": []
    }
  ]
}
